

.sales-card {
    background: #a7f3d0;
    border-bottom: 10px solid #186;
    box-shadow: 0 0 3px black;
}

.purchase-card {
    background: #dd6a78;
    border-bottom: 10px solid #9e1417;
    box-shadow: 0 0 3px black;
}

.delivery-card {
    background: #ffff1a;
    border-bottom: 10px solid #e6ac00 ;
    box-shadow: 0 0 3px black;
}
.pedidos-card {
    background: #BB33FF;
    border-bottom: 10px solid #9600E0;
    box-shadow: 0 0 3px black;
}

.bg-morado{
    background-color: #7700b3;
}

.fa-book-open-reader{
    background-color: #9600E0 !important;
}