
input::placeholder{
    color: #737373 !important;
    text-align: center;
}

textarea::placeholder{
    color: #737373 !important;
    text-align: center;
}

input {
    border-radius: 10px !important;
    max-width: 300px;
    width: 350px !important;
    margin: 5px auto !important;
    text-align: center;
}

textarea {
   width: 350px !important;
   max-width: 300px;
   height: 60px !important;
   max-height: 80px !important;
   border-radius: 10px !important;
   margin: 5px auto !important;
   text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


